@media (max-width: 1150px) {
    .footer{
        display: block;
        
    }
/* start footer */
    .textrightfooter {

        position: absolute;
        padding-top: 25px;
        padding-left: 5%;
    }
    
    .textrightfooter2 {
    
        padding-top: 25px;
        margin-left: 45%;
    
    }

    .textcenterfooter {
        position: absolute;
        padding-top: 12%;
        padding-left: 22%;
    }

    .imgcenterfooter {
        position: absolute;
        margin-left: 15%;
        margin-top: 6px;
        padding-top: 10%;
    
    
    }

    .picleftfooter {
        margin-top: 10px;
        margin-left: 5%;
    }

    .textleftfooter {
        margin-top: 10px;
        margin-left: 5%;
    }

    .socialfb {
        margin-top: 5%;
        padding-left: 20%;
    
    }
/* end footer */


.increase> {
    padding-top: 0;
    width: 30%;
    

}

.imgnotebook{

}
